.mb-esmall {
  margin-bottom: 1rem;
}

.mb-small {
  margin-bottom: 3rem;
}

.mb-medium {
  margin-bottom: 5rem;
}

.mb-large {
  margin-bottom: 8rem;
}

.mt-medium {
  margin-top: 5rem;
}

.text-center {
  text-align: center;
}
